:root {
    --primary-color: #018989;
    --secondary-color: #dbf7fa;
    --accent-color: #76e8f5;
}

body {
    background-color: #044444;
    color: #00252e;
    font-family: 'Jost', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0px;
}

footer {
    font-size: 18px;
    color: var(--secondary-color);
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.hero {
    text-align: left;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 300px;
    background:-webkit-linear-gradient(rgb(0, 119, 128, 0.8), rgba(0, 128, 85, 0.5));
    background-image: url(/src/hero-background.jpg);
    background-size: cover;
    color: var(--secondary-color);
}

.hero h1 {
    font-family: 'Megrim', sans-serif;
    font-size: 60px;
}

.hero button {
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-button {
    margin-left: 10px;
}

.hero p {
    font-size: 12px;
}

.hero a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: 200ms all ease-in-out;
}

.hero a:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.portfolio-scroll {
    padding: 20px;
    font-size: 22px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.app-description, .app-image {
    padding: 30px;
    background-color: #011829;
    color: var(--secondary-color);
    border-radius: 5px;
}

.app-image {
    align-items: center;
}

.app-launch-button {
    padding: 5px 10px;
    background-color: var(--secondary-color);
    color:#011829;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 200ms ease-in-out;
}

.app-launch-button a {
    text-decoration: none;
    color:#011829;
}

.app-launch-button:hover {
    background-color: #a9bfc2;
    cursor: pointer;
}

.left-column-text {
    text-align: right;
}

.left-column-button {
    display: grid;
    justify-content: right;
}

.contact-method a {
    justify-content: center;
    color: var(--secondary-color);
    font-size: 30px;
}

@media (max-width: 768px) {
    .app-description {
        text-align: center;
    }

    .left-column-text {
        text-align: center;
    }

    .left-column-button {
        justify-content: center;
    }
}